<div class="card text-center text-secondary" style="background-color: #122028;">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="card-group">

      <div class="card" style="background-color: #122028; border:none;">
        <div class="card-body">
          <h5 class="card-title">Michelle Concha</h5>
          <img src="/img/Imagen1.png" style="width: 100px;">
        </div>
        
      </div>

      <div class="card" style="background-color: #122028;border:none;">
        <div class="card-body">
          <h5 class="card-title">sígueme en mis redes...</h5>

        </div>
        <div class="card-footer" style="border:none; margin:auto;">
          <small class="text-muted">{{> component/component.sociales }}</small>
        </div>
      </div>

    </div>

  </div>
  <div class="card-footer text-muted">
    <img src="/icons/responsive.png" style="width:30px;">
    <p>Responsive Design</p>
  </div>
</div>
