<div class="container">
    <div class="card mt-5 mb-5" style="border: none;" id="contacto">
        <div class="m-5 ">
            <h1 class="text-center text-secondary">Contacto</h1>
        </div>
        <div class="row g-0">
            <div class="col-md-6">
                <div class="mx-auto">
                    {{> component/component.map }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body text-left" style="max-width: 500px ;margin-left: 30%;">
                    <h5 class="card-title">Contáctame...</h5>
                    <p class="card-text mt-5"><img src="/icons/whatsapp.png" style="width: 20px;">+5698120236</p>
                    <p class="card-text mt-5"><img src="/icons/gmail.png" style="width: 20px;"> contacto@gmail.com</p>
                    <p class="card-text mt-5"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
                        