<div class="card bg-dark text-white mt-4 header">
  <img src="https://cdn.pixabay.com/photo/2020/09/13/20/24/doctor-5569298_960_720.png" class="card-img mt-5 opacity-50" alt="...">
  <div class="card-img-overlay" style="margin-top: 25%;">
    <h1 class="card-title">Preocupados por tu salud.</h1>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
